.yt-thumbnail {
}

    .yt-thumbnail > img {
        min-height:360px;
        min-width:480px;
        max-height: 360px;
        max-width: 480px;
    }

    .yt-thumbnail .info {
        height: 45px;
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 5px;
        color: #cccccc;
        left: 0;
    }

        .yt-thumbnail .info.top {
            top: 0;
        }

        .yt-thumbnail .info.bottom {
            bottom: 4px;
        }

.black-transparent-bg {
    background: rgba(25, 25, 25, .7);
}

.home section,
.home header {
    margin: auto 60px;
}

.fragment {
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 128px 1fr;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

    .fragment section[role=main] {
        -ms-grid-row: 2;
        height: 100%;
    }

.home header {
    display: -ms-grid;
    -ms-grid-columns: auto 1fr;
    padding-top: 10px;
}

    .home header > .titlearea {
        -ms-grid-column: 1;
        margin: 0;
        height: 100px;
        line-height: 100px;
    }

    .home header > div.image-container {
        -ms-grid-column: 2;
        text-align: right;
    }

        .home header > div.image-container > img {
            max-height: 100px;
        }

@media (max-width:825px) {
    .home section,
    .home header {
        margin: auto 10px;
    }

    .win-listview > .win-vertical .win-container, 
    .win-listview > .win-vertical .win-container.win-itemcontainer{
        margin-bottom:30px;
    }

    .yt-thumbnail {
        /*margin-bottom: 30px;*/
    }

        .yt-thumbnail > img {
            max-height: none;
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }

        .yt-thumbnail .info {
            justify-content: center;
            left: 0;
            right: 0;
        }

            .yt-thumbnail .info.bottom {
                bottom: 0px;
            }
}

@media (max-width:700px) {
    .home header > div.image-container > img {
        display: none;
    }

    .home header > .titlearea {
        font-size:36pt;
        -ms-grid-column-span:2;
        text-align:center;
    }
}

/*
    # # #
    TODO: Use .phone to make the page responsive.
    # # #
*/

.phone .home .page-section {
    margin: auto 24px;
}

.phone .home .page-header .titlearea {
    margin:0;
    font-size: 28pt;
}

.phone .home .back-button {
    display: none;
}

.phone button.win-command .win-label{
    /*AppBar is purple, but phone may be using a dark theme with dark appbar buttons. Force them to white.*/
    color:#fff;
}